{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Main</title>
</head>
<body>
    <div class="formContainer">
        <h2>Login</h2>

        <!-- Display error messages -->
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        <!-- Simple login form -->

        <form method="POST" action="login">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Username..." required>
            <br><br>
            <input type="password" id="password" name="password" placeholder="Password..." required>
            <br><br>
            
            <input type="submit" value="Login">
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>